TestReport.SpecFlow/TestReport.SpecFlow/Configuration/ConfigurationTemplate.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:TestReport.SpecFlow.Configuration" elementFormDefault="qualified" targetNamespace="urn:TestReport.SpecFlow.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="specFlow.Report" type="tns:TestReport.SpecFlow.Configuration.SpecFlowReportSectionCT" />
	<xs:complexType name="TestReport.SpecFlow.Configuration.SpecFlowReportSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="mailSettings" type="tns:TestReport.SpecFlow.Configuration.MailSettingsElementCT">
				<xs:annotation>
					<xs:documentation>The MailSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="reportSettings" type="tns:TestReport.SpecFlow.Configuration.ReportSettingsElementCT">
				<xs:annotation>
					<xs:documentation>The ReportSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TestReport.SpecFlow.Configuration.MailSettingsElementCT">
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="username" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Username.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="subject" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Subject.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableSsl" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableSsl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fromAddress" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FromAddress.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="toAddresses" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Seperate by ';'</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TestReport.SpecFlow.Configuration.ReportSettingsElementCT">
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
